:root {
  --main-color-title: #2e2f42;
  --main-color-text: #434455;
  --second-color-text: #fff;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
}

/* -------------------------HEADER--------------------------- */

.list {
  list-style: none;
}
.nav-item {
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color-title);
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* --------------------------HERO------------------------- */

.hero {
  background: var(--main-color-title);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: var(--second-color-text);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
/*----------------------------- FEATURES------------------------- */
.features {
}
.feature-list {
}
.hiden {
  visibility: hidden;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color-title);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  width: 264px;
  height: 72px;
}
/* -------------------------ABOUT----------------------------- */
.about-list {
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-color-title);
}
.about-item {
}
/* ----------------------------TEAM------------------------- */

.team {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-color-title);
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color-title);
}
.team-member-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}
/* ---------------------PORTFOLIO------------------------ */

/* --------------------BTN-section-------------------- */
.button {
}
.btn-item {
  background: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-color-text);
  cursor: pointer;
}
.button-item{
}

.button-name {
  background: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
/* ---------------------------PHOTOS----------------------- */
.portfolio {
  background: #ffffff;
}
.portfolio-item{

}

.portfolio-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color-title);
}
.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}

/* -------------------------FOOTER---------------- */
.web-item {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: #4d5ae5;
}
.studio-item {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer {
  background: var(--main-color-title);
}
.footer-text {

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
